<form [formGroup]="testFG" class="pt-4 mx-4">
  <h1 class="mb-3">Brinda tus datos de la vacuna</h1>
  <div class="mb-3">
    <input type="text" placeholder="Nombre completo" formControlName="name" required>
  </div>
  <div class="mb-3">
    <input type="numeric" placeholder="DNI" formControlName="documentNumber" required>
  </div>
  <div class="mb-3">
    <label>Cantidad de dosis</label>
    <br>
    <select formControlName="dosageNumber" required>
      <option value="" disabled>Escoja una opción</option>
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
  </div>
  <div class="mb-5">
    <textarea rows="3"
      placeholder="Comentario"></textarea>
  </div>
  <div class="d-flex justify-content-center">
    <button [disabled]="testFG.invalid" type="submit">Enviar</button>
  </div>
</form>